streamlit==1.64.0
pandas==3.0.6
plotly==7.1.0
transformers==5.14.1
torch==2.14.0
scikit-learn==1.9.1
datasets==5.0.1
praw==8.0.3
google-api-python-client==2.200.0
newsapi-python==0.2.7
accelerate
python-dotenv
